################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/.user
app/debug/
test/debug/
.Debug
.Release
.bat
Makefile
.stash
moc*
*.Debug

*.Release

*.bat

tests/debug/

*.stash

Madera_Front.pro.user

app/release/

tests/release/

Madera_Front.pro.user.433dd51
