################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/.user
app/debug/
test/debug/
.Debug
.Release
.bat
Makefile
.stash
moc*